.gameBoard {
  overflow-y: hidden;
  padding: 10px;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 4fr 2fr;
  grid-template-areas: "mInfo mInfo mInfo"
                        "reserve ring deck"
                        "hand hand hand";
}
.matchInfo {
  background-color: teal;
  grid-area: mInfo;
}

.ring {
  grid-area: ring;
  display: flex;
  justify-content: space-evenly;
  background-color: burlywood;
}

.figthersContainer {
  width: fit-content;
  height: fit-content;
  /* Perspectiva que esse elemento tera em relação ao filho dele */
  perspective: 800px;
}

.figtherOnRing {
  transform-style: preserve-3d;
  transform: rotateX(45deg) scale(0.7);
}

.figtherOnRing:hover {
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}

.deck {
  grid-area: deck;
  background-color: cornflowerblue;
}

.reserve {
  grid-area: reserve;
  background-color: darkgray;
}

.reserveContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.graveyard {
  background-color: black;
  color: white;
  grid-area: graveyard;
}

.hand {
  grid-area: hand;
  display: flex;
  background-color: chartreuse;
  justify-content: center;
}

.cardInHand {
  margin-right: 2.5px;
  margin-left: 2.5px;
  transform: translateY(85px) scale(1);
}

.cardInHand:hover {
  margin-right: 25px;
  margin-left: 25px;
  transform: translateY(-40px) scale(1.2);
}

.figtherOnReserve {
  margin-bottom: 2px;
  margin-right: 8px;
  width: fit-content;
  height: fit-content;
}

.figtherOnReserve img {
  width: 80px;
  height: 80px;
  border: 4px solid #ffe166;
  border-radius: 90px;
}

.figtherOnReserve div{
  display: flex;
  align-items: center;
  margin-top: -6px;
  margin-left: 5px;
}

.figtherOnReserve div span{
  padding-left: 6px;
  font-weight: 900;
  /* font-size: 20px; */
}

.figtherOnReserve div img {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 0;
}