.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url("../../assets/street.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.label {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 900;
    color: white;
}

.dataFetch {
    color: white;
    padding-top: 20px;
}