/* Flash class and keyframe animation */
.flashit {
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}

@keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}

.container {
    background-image: url("../../assets/street.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    /* grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 2fr 4fr 2fr; */
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas: "title title title"
                        "fighter characters opponent"
                        "fighter footer opponent";
}

.titleBox {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleBox hr{
    width: 80vw;
    border: 0px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(255,38,0,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(255,38,0,1);
    box-shadow: 0px 0px 10px 3px rgba(255,38,0,1);
    position: relative;
}

.titleBox hr:nth-child(2){
    width: 60vw;
    border: 0px;
    top:24px;
    -webkit-box-shadow:  0px 0px 10px 3px rgba(255,132,0,1);
    -moz-box-shadow:  0px 0px 10px 3px rgba(255,132,0,1);
    box-shadow:  0px 0px 10px 3px rgba(255,132,0,1);
}

.titleBox hr:nth-child(1){
    top:13px;
}

.titleBox hr:last-child{
    bottom:13px;
}

.title {
    font-size: 2.5em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    color: #fcc010;
    background: linear-gradient(0deg, #f6984c 0%, #fedc74 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow( 0 0 10px red);
}

.characters {
    grid-area: characters;
}

.figtherBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    background-color: black;
    /* width: 90px;
    height: 210px; */
    width: 20%;
    height: 63%;
    max-width: 110px;
    max-height: 260px;
    clip-path: polygon(25% 4%, 100% 0%, 75% 93%, 0 100%);
}

.fighter {
    grid-area: fighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.fighter img{
    height: 45vw;
    max-height: 72vh;
}

.fighter span {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fcc010;
    background: linear-gradient(0deg, #f6984c 0%, #fedc74 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow( 0 0 10px red);
}

.opponent {
    grid-area: opponent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.opponent img{
    height: 45vw;
    max-height: 72vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.opponent span {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fcc010;
    background: linear-gradient(0deg, #f6984c 0%, #fedc74 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow( 0 0 10px red);
}

.figtherBox img {
    width: 90%;
    height: 95%;
    clip-path: polygon(25% 4%, 100% 0%, 75% 93%, 0 100%);
}

.figtherBoxSelected {
    background-color: #027ebe;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration: none;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fcc010;
    background: linear-gradient(0deg, #f6984c 0%, #fedc74 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow( 0 0 10px red);
}

.opponentInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: floralwhite;
    background-color: black;
    padding: 6px;
    border: 1px solid;
    font-size: 10px;
}
